<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>493059654277-5u1c6adued85dui9bh45t7k48jnl2map.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.493059654277-5u1c6adued85dui9bh45t7k48jnl2map</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>493059654277-sn8ss7dv8r04kjqa1gqgarsrnd86rjfj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAZCCmPCvqWAt-66KMfw5VZ24TZSEI3RqA</string>
	<key>GCM_SENDER_ID</key>
	<string>493059654277</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.infinitygames.pipes</string>
	<key>PROJECT_ID</key>
	<string>pipes-c5546</string>
	<key>STORAGE_BUCKET</key>
	<string>pipes-c5546.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:493059654277:ios:d62549e45a51c44ac21fec</string>
	<key>DATABASE_URL</key>
	<string>https://pipes-c5546.firebaseio.com</string>
</dict>
</plist>